* {
  box-sizing: border-box;
}

div {
  margin: auto;
  width:fit-content;
  border: 2px solid white;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  margin: 10px;
  font-size: 15px;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: black;
}